*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background: #E5E5E5;
    padding-top: 30px;
    padding-bottom: 30px;

}

nav{
   width: 55%;
   margin: auto;
   
}
nav img{
    width: 80px;
    margin: auto;
}
header{
    background: #FFFFFF;
    border-radius: 4px 4px 0px 0px;
    width: 65%;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 30px;
    padding-top: 20px;
    
}
header div{
    width: 90%;
    margin: auto;
}
header div p{
    font-size: 14px;
    line-height: 24px;
}
header a button{
    width: 180px;
    padding: 10px 0;
    color: white;
    cursor: pointer;
    background: #35289D;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    border-radius: 10px;
    margin-top: 20px;
}
button:focus{
    outline: none;
}
footer{
    padding-top: 40px;
    width: 65%;
    margin: auto;
    background: #F7F9FC;
border-radius: 0px 0px 4px 4px;
padding-bottom: 30px;
}
footer div{
    width: 90%;
    margin: auto;
}
footer div p{
    font-size: 12px;
    line-height: 20px;
}
footer div span{
    color:  #6875DE;
}
footer div .gmail{
    text-decoration: underline;
}
footer  div a{
    text-decoration: none;
    color: #6875DE;
}
.footer{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.footer img{
    width: 50px;
}
.footer .icons{
    width: 100px;
    margin: 0;
    display: flex;
    justify-content: space-between;
}
.icons i{
    fill: #6A7C94;
}

@media(max-width:650px){
    nav{
        width: 70%;
    }
    header,footer{
        width: 90%;
    }
}

@media(max-width:400px){
    header a button{
        width: 150px;
    }
}